config wstunnel 'server'
        option enabled '0'
        option mode 'server'
        option listen_port '8080'
        option bind_address '0.0.0.0'
        option tunnel_port '22'
        option tunnel_host 'localhost'
        option restrict_path '/tunnel'
        option tls_cert ''
        option tls_key ''
        option upgrade_path_prefix '/ws'
        option extra_args ''

config wstunnel 'client'
        option enabled '1'
        option mode 'client'
        option server_url 'wss://html.voiceofmatrix.cn'
        option local_bind 'udp://1194:vpn.voiceofmatrix.cn:1194'
        option http_upgrade_path_prefix 'wstunnel-o5FuXapS5AtgEujzg'
        option extra_args ''
